.server {
    .info {
        display: flex;
        padding: 22px;

        img {
            border-radius: 8px;
            display: block;
        }

        .text {
            margin-left: 22px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .ip {
                color: var(--FG_5);
            }
        }

        .online {
            margin-left: auto;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                color: var(--FG_5);
                text-align: right;
            }
        }
    }

    .icons {
        padding: 0px 22px;
        display: flex;
        font-size: 18px;
        a {
            display: flex;

            width: 32px;
            height: 32px;

            justify-content: center;
            align-items: center;

            background-color: var(--BG_1);
            border-radius: 6px;

            &:hover {
                background-color: var(--BG_2);
                transition: 100ms;
            }
        }
        a:not(:last-child) {
            margin-right: 4px;
        }
        color: var(--FG_5);
    }

    border: 1px solid var(--BG_2);
    width: 100%;
    border-radius: 12px;

    &:not(:last-child) {
        margin-bottom: 22px;
    }
}